{% extends "base.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<main class="container">
		<section class="bg-light p-3 mb-2">
			<h1>Les produits</h1>
		</section>
		<section class="row">
			{% for product in products %}
				<div class="col-3 mb-3">
					<article class="card h-100 pb-0">
						<h2 class="card-title">{{ product.name }}</h2>
							<p class="card-text">{{ product.price / 100 }} €</p>
						<div class="card-body">
						<a href="{{path('products_details', {"slug": product.slug})}}">
							<img src="{{ asset('assets/uploads/products/imageProduit/300x300-' ~ product.images[0].name ) }}" class="card-img-top" alt="{{ product.name }}">
						</a>
							


							{% if product.stock > 0 %}
								<a href="{{path("cart_add", {id: product.id})}}" class="btn btn-success mt-2">
									<i class="bi bi-cart-plus"></i> Ajouter
								</a>
							{% else %}
								<p class="text-danger">Temporairement en rupture de stock</p>
							{% endif %}
						</div>
					</article>
				</div>
			{% endfor %}
			{% set path = 'categories_list' %}
		{# {% set slug = category.slug %} #}
			{# {% set pages = products.pages %} #}
			{# {% set currentPage = products.page %} #}
			{# {% include "_component/_pagination.html.twig" %} #}
		</section>
	</main>
{% endblock %}
