<nav class="navbar navbar-expand-sm">
	<div class="container-fluid">
		<a
			class="navbar-brand" href="/">
			<!-- style="width:120px;height: 35px;" -->
			<img src="{{ asset('assets/uploads/logoWassa3.png') }}" style="margin:0;padding: 0" alt="Wassa Boutique"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span>
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

			<ul class="navbar-nav ">
				{% if app.user %}
					{% if is_granted('ROLE_PRODUCT_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="/profil">Mon compte</a>
						{# <a class="nav-link" href="{{ path('wassa_admin') }}">MENU ADMIN</a> #}
					</li>
					<li class="{{ app.request.get('_route') == 'products_index' ? 'nav-item active' : 'nav-item' }}">
						<a class="nav-link" href="{{ path('products_index') }}">NOS PRODUITS</a>
					</li>
					<li class="{{ app.request.get('_route') == 'wassa_contact' ? 'nav-item active' : 'nav-item' }}">
						<a class="nav-link" href="#">Contact</a>
						{# <a class="nav-link" href="{{ path('wassa_contact') }}">CONTACT</a> #}
					</li>
					<li
						class="nav-item">
						{# <a class="nav-link" href="#">SE DECONNECTER</a> #}
						<a class="nav-link" href="{{path('app_logout')}}">Se deconnecter</a>
					</li>
					<li class="nav-item">
						<a class="btn" href="{{ path('cart_index') }}">
							<span>Panier<i class="fas fa-shopping-cart"></i></span class="cart_count"> 
							{# {% if app.session.get("panier") %}
									{{app.session.get('panier').data.quantitePanier}} 
							{% else %}
								
							{% endif %}</span> #}
						</a>
					</li>

				{% else %}
					<li class="{{ app.request.get('_route') == 'wassa_products' ? 'nav-item active' : 'nav-item' }}">
						<a class="nav-link" href="{{ path('products_index') }}">Nos produits</a>
						{# <a class="nav-link" href="{{ path('wassa_products') }}">NOS PRODUITS</a> #}
					</li>
					<li
						class="{{ app.request.get('_route') == 'wassa_promos' ? 'nav-item active' : 'nav-item' }}">
						{# <a class="nav-link" href="#">Se connecter</a> #}
						<a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
					</li>
					<li
						class="{{ app.request.get('_route') == 'wassa_promos' ? 'nav-item active' : 'nav-item' }}">
						{# <a class="nav-link" href="#">S'inscrire</a> #}
						<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-success" href="{{ path('cart_index') }}">
							<i class="fas fa-shopping-cart"></i>
						</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>

{# 
<nav class="navbar navbar-expand-sm">
	<a
		class="navbar-brand" href="/">
		<!-- style="width:120px;height: 35px;" -->
		<img src="{{ asset('images/others/logoWassa3.png') }}" style="margin:0;padding: 0" alt="Wassa Boutique"/>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span>
			<i class="fas fa-bars"></i>
		</span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav">
			<li class="{{ app.request.get('_route') == 'welcome' ? 'nav-item active' : 'nav-item' }}">
				<a class="nav-link" href="/">ACCUEIL<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="{{ app.request.get('_route') == 'wassa_products' ? 'nav-item active' : 'nav-item' }}">
				<a class="nav-link" href="{{ path('app_product_index') }}">NOS PRODUITS</a>
			</li>
			<li class="{{ app.request.get('_route') == 'wassa_arrivages' ? 'nav-item active arrivage-active' : 'nav-item' }}">
				<a class="nav-link" href="{{ path('app_commande_index') }}">ARRIVAGES</a>
			</li>
			<li class="{{ app.request.get('_route') == 'wassa_contact' ? 'nav-item active' : 'nav-item' }}">
				<a class="nav-link" href="/">CONTACT</a>
			</li>
			<li class="{{ app.request.get('_route') == 'wassa_promos' ? 'nav-item active' : 'nav-item' }}">
				<a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
			</li>
			<li class="{{ app.request.get('_route') == 'wassa_promos' ? 'nav-item active' : 'nav-item' }}">
				<a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
			</li>

			{% if app.user %}
				{# {% if is_granted('ROLE_ADMIN') %} 
				<li class="nav-item">
					<a class="nav-link" href="{{ path('wassa_admin') }}">Menu ADMIN</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">se deconnecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">Panier</a>
				</li>#}
{# {% endif %} #}
{# <li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle login-style" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Bienvenue
									{% if app.user.firstName is defined %}
										{{ app.user.firstName }}
									{% else %}
										{{ app.user.email }}
									{% endif %}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								
									<a class="dropdown-item login-style" href="{{ path('app_logout') }}">Se d&eacute;connecter</a>
									{# <a class="dropdown-item login-style" href="{{ path('edit_my_infos') }}">Mes infos personnelles</a> #}
{# </div>
								</li> #}
{# {% else %}
								<li>
									<a class="nav-link login-style" href="{{ path('app_login') }}">
										<span>
											<i class="fas fa-sign-in-alt"></i>
										</span>
										<span>&nbsp;Mon compte</span>
									</a>
								</li> 
			{% endif %}
		</ul>
	</div>
</nav> #}
